@font-face {
  font-family: 'weather';
  src: url('./fonts/weather.eot?59618982');
  src: url('./fonts/weather.eot?59618982#iefix') format('embedded-opentype'), url('./fonts/weather.woff?59618982') format('woff'), url('./fonts/weather.ttf?59618982') format('truetype'), url('./fonts/weather.svg?weather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.block-ipma-weather .weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-ipma-weather .weather .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}
.block-ipma-weather .weather .top .icon {
  margin: 0 15px;
}
.block-ipma-weather .weather .top .temp {
  line-height: 1.2;
  margin: 0 15px;
}
.block-ipma-weather .weather .top .temp .temp-max {
  font-size: 40px;
  text-align: center;
}
.block-ipma-weather .weather .top .temp .temp-min {
  font-size: 26px;
  text-align: center;
}
.block-ipma-weather .weather .desc,
.block-ipma-weather .weather .precip {
  font-size: 20px;
  margin-bottom: 5px;
}
.block-ipma-weather .weather .precip {
  font-size: 17px;
}
.block-ipma-weather .weather .desc,
.block-ipma-weather .weather .precip,
.block-ipma-weather .weather .date {
  line-height: 1.2;
  margin: 0.15em 0;
}
.block-ipma-weather .weather .source {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}
.block-ipma-weather .weather .icon:before {
  font-family: 'weather';
  font-size: 70px;
  line-height: 70px;
}
.weather .icon.weather-type-0:before {
  content: '\0041';
}
.weather .icon.weather-type-1:before {
  content: '\0042';
}
.weather .icon.weather-type-2:before {
  content: '\0043';
}
.weather .icon.weather-type-3:before {
  content: '\0044';
}
.weather .icon.weather-type-4:before {
  content: '\0045';
}
.weather .icon.weather-type-5:before {
  content: '\0046';
}
.weather .icon.weather-type-6:before {
  content: '\0047';
}
.weather .icon.weather-type-7:before {
  content: '\0048';
}
.weather .icon.weather-type-8:before {
  content: '\0049';
}
.weather .icon.weather-type-9:before {
  content: '\004a';
}
.weather .icon.weather-type-10:before {
  content: '\004b';
}
.weather .icon.weather-type-11:before {
  content: '\004c';
}
.weather .icon.weather-type-12:before {
  content: '\004d';
}
.weather .icon.weather-type-13:before {
  content: '\004e';
}
.weather .icon.weather-type-14:before {
  content: '\004f';
}
.weather .icon.weather-type-15:before {
  content: '\0050';
}
.weather .icon.weather-type-16:before {
  content: '\0051';
}
.weather .icon.weather-type-17:before {
  content: '\0052';
}
.weather .icon.weather-type-18:before {
  content: '\0053';
}
.weather .icon.weather-type-19:before {
  content: '\0054';
}
.weather .icon.weather-type-20:before {
  content: '\0055';
}
.weather .icon.weather-type-21:before {
  content: '\0056';
}
.weather .icon.weather-type-22:before {
  content: '\0057';
}
.weather .icon.weather-type-23:before {
  content: '\0058';
}
.weather .icon.weather-type-24:before {
  content: '\0059';
}
.weather .icon.weather-type-25:before {
  content: '\005a';
}
.weather .icon.weather-type-26:before {
  content: '\0061';
}
.weather .icon.weather-type-27:before {
  content: '\0062';
}
